
@font-face {
    font-family: 'PlutoLight';
    src: url('../webfonts/plutolight-webfont.eot');
    src: url('../webfonts/plutolight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/plutolight-webfont.woff') format('woff'),
         url('../webfonts/plutolight-webfont.ttf') format('truetype'),
         url('../webfonts/plutolight-webfont.svg#PlutoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, * {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Avenir Next', Helvetica, sans-serif ;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
	padding-top: 100px;
	color: #333;
}

header, section, footer,
article, aside {
    display: block;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 2em;
    margin-bottom: 1em;
}

h1, h2, h3 {
    font-weight: bold;
    color: #404040;
}

h1 small, h2 small, h3 small {
    color: #bfbfbf;
}

h1 {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 36px;
}

h1 small {
    font-size: 18px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

h2 small {
    font-size: 14px;
}

h3 {
    line-height: 36px;
}

h3 {
    font-size: 18px;
}

a {
    color: #000;
    text-decoration: none;
}

    a.pink { color: #E8849B; }
    a.green { color: #78a51f; }
    a.blue { color: #1f78d2; }
    a.purple { color: #784ba5; }

a:hover, a:active {
    background-repeat: repeat-x;
    background-position: 0 50%;
}

#container {
    width: 500px;
    margin: 0 auto;
    zoom: 1;
}

.strawberry {
    width: 100%;
    text-align: center;
    display: block;
}

.strawberry img {
    margin: -30px 0 -30px 35px;
    width: 60px;
    z-index: 100;
}

.about {
    height: 445px;
    width: 460px;
    float: left;
    padding: 35px 30px 0;
    border: 5px solid #000;
}

