@font-face {
    font-family: 'PlutoLight';
    src: url('../webfonts/plutolight-webfont.eot');
    src: url('../webfonts/plutolight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/plutolight-webfont.woff') format('woff'),
         url('../webfonts/plutolight-webfont.ttf') format('truetype'),
         url('../webfonts/plutolight-webfont.svg#PlutoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #fff;
	font-weight: normal;
    font-style: normal;
    font-size: 13px;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, .header {
	font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: .2em;
	margin-top: 0;
}

p, li {
	line-height: 1.4em;
}

p {
	margin: 0 0 1em;
}

a {
	color: #ea4c88;
	text-decoration: none;
}

a:hover {
	color: #ce5183;
	text-decoration: underline;
}

.container {
	padding: 0;
	margin: 0 auto;
	width: 960px;
}


/* Header */

.header {
	margin: 0 0 40px;
	background-color: #fff;
}

.header .wrapper {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

.header h1 {
	background: white url('../img/chibi-strawb.png') no-repeat scroll 0 0;
	float: left;
	margin: 10px 0 0 0;
	width: 56px;
	height: 78px;
	text-indent: -9999px;
}

.header h1:hover {
  background-position: 0 -78px;
}

.header h1 a { display: block; height: 100%; }

.header ul{
	float: right;
	margin: 66px 0 0 0;
}

.header li{
	margin: 0 0 0 2em;
	display: inline;
	font-size: 12px;
}
.header li a {
	color: #ccc;
	text-decoration: none;
	padding: 2px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	-webkit-transition:	.5s all ease;
	-moz-transition:	.5s all ease;
	-o-transition:		.5s all ease;
	transition:			.5s all ease;
}
.header li a:hover  {
	color: #fff;
	background-color: #E8849B;
	background-image: url(../img/glass.png);
    background-repeat: repeat-x;
    background-position: 0 50%;
}

/* Content Pages */



.main-with-sidebar {
	background: #fff;
	float: left;
	margin: 0 36px 20px 0;
	padding: 0;
	width: 670px;
	position: relative;
}

.sidebar {
	background: #fff;
	float: left;
	margin: 0 0 20px;
	padding: 20px;
	width: 210px;
}
.sidebar section { margin: 0 0 1em; }
.sidebar h1 {
	color: #aaa;
	border-bottom: 1px dotted #aaa;
	margin-bottom: 10px;
}

/* Thumbnails */

.gallery h3 {
	font-size: 1.2em;
	background-color: white;
	margin: 0 0 1em 0;
	color: #333;
	position: absolute;
	left: 0;
	bottom: 10px;
	padding: .2em .4em;
	max-width: 80%;
	font-weight: normal;
	opacity: 0;

}
.gallery {
	margin: 0 0 2em;
	padding: 0;
}

.gallery li {
	background-color: #fff;
	border: 1px solid #ccc;
	display: block;
	float: left;
	margin: 18px;
	width: 210px;
	height: 210px;
	position: relative;
	background: black;
	overflow: hidden;
}
.gallery li:nth-child(4n+1) { margin-left: 0; }
.gallery li:nth-child(4n) { margin-right: 0; }

.gallery li:nth-child(4n+1) {
	clear: both;
}
.gallery img {
	max-width: 100%;
	min-width: 100%; /* comment out later */
}

.gallery img,
.gallery h3 {
	-webkit-transition:	.25s all ease;
	-moz-transition:	.25s all ease;
	-o-transition:		.25s all ease;
	transition:			.25s all ease;
}

.gallery a {
	text-decoration: none;
}

.gallery a:hover h3 {
	opacity: 1;
}

.gallery a:hover img {
	opacity: .5;
}

/* Sidebar */

.feed li {
	list-style-type: none;
}

.feed ul {
	padding: 0;
	margin:0;
}

.dribbble li {
	list-style-type: none;
}

.dribbble li img {
	max-width: 100%;
	border: 1px solid #ccc;
}

.dribbble li img:hover {
	border-color: #EA4C88;
}

.twitter .actions {
	display: none;
}
.social ul {
	padding: 0;
}
.social li {
	background: #aaa url(../img/sprite-social.png) no-repeat scroll 0 0;
	height: 47px;
	text-indent: -9999px;
	width: 47px;
	display: block;
	float: left;
	margin-right: 7px;
	-webkit-transition:	.25s all ease;
		 -moz-transition:	.25s all ease;
			 -o-transition:	.25s all ease;
					transition:	.25s all ease;
}

.social li:last-child { margin-right: 0; }

.social li.pinterest { background-position: 0 0;}
.social li.ffffound { background-position: -55px 0;}
.social li.forrst { background-position: -109px 0;}
.social li.lastfm { background-position: -164px 0;}

.social li:hover { background-color: #ea4c88; }

.social li a {
	height: 100%;
	display: block;
}

/* iPhone yall */
@media only screen and (max-width: 480px) {
	.container { text-align: center; width: auto; }
	.header .wrapper { padding: 0 3%; width: auto; }
	.main li { float: none; margin-left: auto; margin-right: auto; }
	.main li:nth-child(4n+1) { clear: none; }
	.gallery li:nth-child(4n+1) { margin-left: auto; }
	.gallery li:nth-child(4n) { margin-right: auto; }
}

/* Other Content Pages */

.portrait {
	float: left;
	margin: 0 20px 20px 0;
}

.content {
	padding: 20px;
}

.content h1 {
	font-size: 1.5em;
	color: #aaa;
	border-bottom: 1px dotted #aaa;
	margin-bottom: 10px;
	padding-bottom: 4px;
}

h1.hello {
	margin-left: 440px;
	padding: 0;
}

.three-column {
	overflow: hidden;
	padding: 0;
	clear: both;
}

.three-column > li {
	float: left;
	display: block;
	width: 31%;
	margin-right: 20px;
}

.three-column > li:nth-child(3n) {
	margin-right: 0;
}

.three-column li ol, li ul {
	padding-left: 20px;
}

/* cycle slideshow styles */
.cycle {
	clear: both;
	background-color: #eee;
	height: 500px;
	width: 100%;
}

.cycle img {
	max-height: 100%;
	max-width: 100%;
}

.cycle-controller {
	margin: 0;
	padding: 0;
	float: right;
}
.cycle-controller li {
	background: transparent url('../img/sprite-next-prev.png') no-repeat scroll 0 0;
	display: block;
	float: left;
	margin-left: 5px;
	height: 25px;
	width: 25px;
	text-indent: -9999px;
}
.cycle-controller li.cycle-next {
	background-position: -26px 0;
}

.cycle-controller li a {
	display: block;
	height: 100%;
}

/* tab
.showcase:before { content: '.'; display: block; position: relative; width: 50px; height: 50px; background-color: #eee; text-indent: -9999px; left: 20px; top: 545px; z-index: 50;
 	-webkit-transform: rotate(45deg);
 	-moz-transform: rotate(45deg);
 	-o-transform: rotate(45deg);
 	-transform: rotate(45deg);
}
 */

/* Showcase Description */
.showcase .description {
	background: #fff;
	padding: 1em;
	border-top: 1px
	dotted #aaa;
}

.showcase h1 {
	font-size: 1.8em;
	margin-top: 0;
}

ul.tags {
	margin: 0;
	padding: 0 0 20px 0 ;
}

.tags li {
	display: block;
	float: left;
	margin-right: 7px;
	font-size: .9em;
	color: #aaa;
}

/* footer */

.footer {
	clear: both;
	float: left;
	margin-top: 20px;
	color: #aaa;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}