<!DOCTYPE html>
<html>
  <head>
    <title>twitter oauth utility</title>
  </head>
  <body>
    <h1>twitter oauth utility</h1>

    <ul>
      <li>user_id: <%= user_id %></li>
      <li>screen_name: <%= screen_name %></li>
      <li>access_token: <%= access_token %></li>
      <li>access_token_secret: <%= access_token_secret %></li>
    </ul>

  </body>
</html>
