<!DOCTYPE html>
<html>
  <head>
    <title>oauth utility</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>oauth utility</h1>

    <form action="/twitter/connect">
      <div>
        <label for="consumerkey">consumer key:</label> <input type="text" name="consumerkey">
      </div>
      <div>
        <label for="consumersecret">consumer secret:</label> <input type="text" name="consumersecret">
      </div>
      <div>
        <input type="submit" value="authenticate">
      </div>
    </form>

  </body>
</html>
