
.week {
    display: inline-block;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    font-size: 8pt;
}

.week.empty {
    background-color: #FFEBEB;
}

.week.empty.past {
    background-color: pink;
}
