
.week {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    font-size: 8pt;
}

.week.empty {
    background-color: #FFF9F9;
    border-radius: 6px;
    width: 8px;
    height: 8px;
    margin: 0px;
    cursor: pointer;
    margin: 2px;
}

.week.empty.past {
    background-color: #FAE3E3;
}
